footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  padding: 16px;
  margin-top: 45px;

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
  }
}
