footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  padding: 16px;
  margin-top: 45px;

  a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
  }
}