.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  padding: 16px;

  &__logo {
    margin-right: 8px;
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
  }
}
